<div class="productDetail">
  <img class = "detailImage" src="{{product.ImagePath}}">
  <div class= "descriptionWrapper">
    <p class="name">{{product.Name}}</p>
    <p class="price">{{product.Price}} $</p>
    <p class="description">{{product.Description}}</p>
    <div class="buttonWrapper">
      <div class="quantityWrapper">
          <p class="quantity">Quantity</p>
          <input [value]='quantity' (input)="quantity = $event.target.value" type="text"/>
      </div>

      <button class="addToCartBtn"(click)="addToCart()">Add to cart</button>
    </div>
  </div>
</div>
<div class="infoWrapper">
    <div class="info">
        <p class="title">
          Product Info
        </p>
        <p class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Pellentesque quis nisi ut diam ornare fermentum. Etiam 
            ipsum sem, tempor non dignissim pellentesque, auctor vel urna. 
            Morbi leo ligula, laoreet non semper sed, gravida quis diam. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p> 
        
      </div>
      <div class="refund">
        <p class="title">
            Refund policy
        </p>
        <p class="subtitle">
            Nunc commodo erat nulla, hendrerit dignissim nisl auctor
             eu. Mauris id vulputate libero, sit amet hendrerit ex.
              Nulla sed lacinia ante. Pellentesque aliquam, enim vitae 
              ultricies feugiat, tellus augue venenatis nulla, eu egestas
               est diam eu augue. Curabitur porta mi est, nec gravida sem
                placerat sit amet. Phasellus sapien ante, volutpa 
          </p> 
      </div>      
</div>
