<div class = "menu">
    <a href="#">
        <div class="imageWrapper">
            <img class = "logo" src="/assets/logo.png" alt="">
        </div>
    </a>

    <ul>
            
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      <!-- BLOG TURNED OFF, NOT NECESSARY -->
      <!--<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>-->
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li class="last"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <app-my-cart></app-my-cart>
</div>

