
<div class="faq">
  <div class="pageTitle">
    FAQ
  </div>
  <div class="questionWrapper">
    <app-faq-question questionTitle="How do I place an order?" 
                      questionAnswer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Donec faucibus neque nec consequat aliquet. Donec molestie porttitor purus 
                      nec malesuada.eque nec consequat aliquet. Donec molestie porttitor purus 
                      nec malesuada.neque nec consequat aliquet. Donec molestie porttitor purus 
                      nec malesuada.">
    </app-faq-question>
    <app-faq-question questionTitle="Do you accept returns or refunds?" 
                      questionAnswer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    nec malesuada.eque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.neque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.">
    </app-faq-question>
    <app-faq-question questionTitle="What is your warranty?" 
    questionAnswer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    nec malesuada.neque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.">
    </app-faq-question>
    <app-faq-question questionTitle="What should I do if my order hasn't been delivered yet?" 
    questionAnswer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    nec malesuada.eque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.neque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.">
    </app-faq-question>
    <app-faq-question questionTitle="Will an item be back in stock?" 
    questionAnswer="Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    nec malesuada.eque nec consequat aliquet. Donec molestie porttitor purus 
    nec malesuada.neque nec consequat aliquet. ">
    </app-faq-question>
  </div>
</div>