<!--The content below is only a placeholder and can be replaced.-->
<div class = "app">
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <!--<app-product [product] = "product"></app-product>-->
  <!--<app-background [productList] = "productList"></app-background> 
  <app-paragraph title="This is the first paragraph" description="Its simple, We are the best!" class="green" subtitle="This is subtitle"></app-paragraph>  
  <app-paragraph title="This is the second paragraph" description="Its simple, We are the best!" class="blue" subtitle="This is subtitle"></app-paragraph>  -->
    <app-footer></app-footer>
</div>


