<div class="contact">
  <div class="title">CONTACT US</div>
  <div class="wrapper">
    <div class="ourStore">
        <img src="/assets/svg/ourStore.svg">
        <p class="subtitle">OUR STORE</p>
        <p class="small">607 Harris street</p>
        <p class="small">ULTIMO, NSW 2000</p>
        <p class="small">Sydney</p>
        <p class="small">michal.beniak@gmail.com | 0404029543</p>
        <p class="small"><a href="">view map</a></p>
    </div>
    <div class="openingHours"> 
      <img src="/assets/svg/openingHours.svg">
      <p class="subtitle">OPENING HOURS</p>
      <p class="small">Mon. Fri. 10:00 - 18:00</p>
      <p class="small">Sat. 18:00 - 20:00</p>
      <p class="small">Sun. closed</p>
    </div> 

  </div>
  
</div>
